{% macro productform(
    formTitle,
    product=product
    ) -%}


<div class="container">
    <h1>{{ formTitle }}</h1>
    <form method="post">
        <div class="form-group">
            {{ product }}
            {{ product['productName'] }}
            <label for="productName">Product Name:</label>
            <input name="productName" class="form-control" id="productName" value="{{ product['productName'] }}">
        </div>
        <div class="form-group">
            <label for="quantity">Quantity:</label>
            <input name="quantity" type="number" id="quantity" class="form-control" value="{{ product[quantity] or request.form['quantity'] }}">
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input name="price" type="number" id="price" class="form-control" value="{{ product[price] or request.form['price'] }}">
        </div>
        <input type="submit" class="btn btn-primary" name="button" value="Save" >
        <input type="submit" class="btn btn-primary" name="button" value="Back" >
    </form>
    <div>
{% endmacro %}